Repository ferriskey/ferriskey, pull requests merged in 2025-07, with the labels that each got.

#267 fix: update thumbnail path in explainer config
  docs/explainer.config.ts
Labels: type:doc

#270 fix: add portal_url to BackendSpec and include it in environment variables for API reconciliation
  operator/crds/crd-ferriskeycluster.yaml
  operator/src/controller/cluster/api.rs
  operator/src/crd/cluster.rs
Labels: type:bug

#271 feat: update CRD for FerriskeyCluster to include portal_url and adjust YAML generation
  infrastructure/charts/ferriskey-operator/templates/crds/crd-ferriskeycluster.yaml
  operator/crds/crd-ferriskeycluster.yaml
  operator/src/bin/crdgen.rs
  operator/src/controller/cluster/api.rs
Labels: type:bug

#276 feat: enhance role domain
  api/src/lib/application/http/client/handlers.rs
  api/src/lib/application/http/client/handlers/create_role.rs
  api/src/lib/application/http/client/handlers/get_client_roles.rs
  api/src/lib/application/http/client/router.rs
  api/src/lib/application/http/role/handlers.rs
  api/src/lib/application/http/role/handlers/update_role.rs
  api/src/lib/application/http/role/policies.rs
  api/src/lib/application/http/role/router.rs
  api/src/lib/application/http/role/validators.rs
  api/src/lib/application/url.rs
  api/src/lib/domain/role/entities.rs
  api/src/lib/domain/role/ports.rs
  api/src/lib/domain/role/services.rs
  api/src/lib/infrastructure/repositories/role_repository.rs
  front/src/api/api.interface.ts
  front/src/api/role.api.ts
  front/src/pages/role/columns/list-client.column.tsx
  front/src/pages/role/feature/page-role-settings-feature.tsx
  front/src/pages/role/ui/page-role-permissions.tsx
  front/src/pages/role/ui/page-role-settings.tsx
Labels: type:feature

#284 Update permissions for existing role
  api/src/lib/application/http/role/handlers.rs
  api/src/lib/application/http/role/handlers/update_role_permissions.rs
  api/src/lib/application/http/role/router.rs
  api/src/lib/application/http/role/validators.rs
  api/src/lib/domain/role/entities.rs
  api/src/lib/domain/role/ports.rs
  api/src/lib/domain/role/services.rs
  api/src/lib/infrastructure/repositories/role_repository.rs
  front/pnpm-lock.yaml
  front/src/api/api.interface.ts
  front/src/api/role.api.ts
  front/src/components/ui/floating-action-bar.tsx
  front/src/pages/role/feature/page-role-permissions-feature.tsx
  front/src/pages/role/schemas/update-role.schema.ts
  front/src/pages/role/ui/page-role-permissions.tsx
Labels: type:feature, scope:api

#287 refacto: authentication logic into orchestrator module
  api/src/lib/application/http/authentication/handlers/authentificate.rs
  api/src/lib/application/http/authentication/handlers/get_certs.rs
  api/src/lib/application/http/server/app_state.rs
  api/src/lib/application/server.rs
  api/src/lib/domain/authentication.rs
  api/src/lib/domain/authentication/orchestrator.rs
  api/src/lib/domain/authentication/use_cases.rs
  api/src/lib/domain/authentication/use_cases/authenticate_use_case.rs
  api/src/lib/domain/authentication/use_cases/entities.rs
  api/src/lib/domain/authentication/use_cases/get_certs_use_case.rs
Labels: type:refactor, scope:api, priority-1

#288 refacto: domain user
  api/src/lib/application/http/server/app_state.rs
  api/src/lib/application/http/user/errors.rs
  api/src/lib/application/http/user/handlers/assign_role.rs
  api/src/lib/application/http/user/handlers/bulk_delete_user.rs
  api/src/lib/application/http/user/handlers/create_user.rs
  api/src/lib/application/http/user/handlers/delete_user.rs
  api/src/lib/application/http/user/handlers/get_user_roles.rs
  api/src/lib/application/http/user/handlers/unassign_role.rs
  api/src/lib/application/http/user/handlers/update_user.rs
  api/src/lib/application/server.rs
  api/src/lib/domain.rs
  api/src/lib/domain/core.rs
  api/src/lib/domain/core/policy.rs
  api/src/lib/domain/user.rs
  api/src/lib/domain/user/entities/error.rs
  api/src/lib/domain/user/orchestrator.rs
  api/src/lib/domain/user/policies.rs
  api/src/lib/domain/user/policies/user_policy.rs
  api/src/lib/domain/user/policies/user_role_policy.rs
  api/src/lib/domain/user/use_cases.rs
  api/src/lib/domain/user/use_cases/assign_role_use_case.rs
  api/src/lib/domain/user/use_cases/bulk_delete_user.rs
  api/src/lib/domain/user/use_cases/create_user_use_case.rs
  api/src/lib/domain/user/use_cases/delete_user_use_case.rs
  api/src/lib/domain/user/use_cases/get_user_roles_use_case.rs
  api/src/lib/domain/user/use_cases/unassign_role_use_case.rs
  api/src/lib/domain/user/use_cases/update_user_use_case.rs
Labels: type:refactor, scope:api, priority-1
