Repository ferriskey/ferriskey, pull requests merged in 2025-05, with the labels that each got.

#81 feat: Add Terraform configuration for k3d cluster and Grafana monitoring setup
  infrastructure/charts/ferriskey-stack/.helmignore
  infrastructure/charts/ferriskey-stack/Chart.yaml
  infrastructure/charts/ferriskey-stack/templates/_helpers.tpl
  infrastructure/charts/ferriskey-stack/templates/postgres/db-cluster.yaml
  infrastructure/charts/ferriskey-stack/values.yaml
  infrastructure/charts/infrastructure/.helmignore
  infrastructure/charts/infrastructure/Chart.lock
  infrastructure/charts/infrastructure/Chart.yaml
  infrastructure/charts/infrastructure/charts/cloudnative-pg-0.19.1.tgz
  infrastructure/charts/infrastructure/charts/keda-2.17.0.tgz
  infrastructure/charts/infrastructure/values.yaml
  infrastructure/terraform/.gitignore
  infrastructure/terraform/dashboards/dashboard_15757.json
  infrastructure/terraform/dashboards/pg_dashboard.json
  infrastructure/terraform/main.tf
  infrastructure/terraform/providers.tf
  infrastructure/terraform/variables.tf
Labels: type:feature, scope:infra

#88 docs: setup documentation structure
  docs/explainer.config.ts
  docs/src/content.config.ts
  docs/src/content/docs/01-concepts/access-control.mdx
  docs/src/content/docs/01-concepts/architecture.mdx
  docs/src/content/docs/01-concepts/clients.mdx
  docs/src/content/docs/01-concepts/overview.mdx
  docs/src/content/docs/01-concepts/realms.mdx
  docs/src/content/docs/01-concepts/scaling-performance.mdx
  docs/src/content/docs/01-concepts/security.mdx
  docs/src/content/docs/02-tutorials/deploy-on-k8s.mdx
  docs/src/content/docs/02-tutorials/quickstart.mdx
  docs/src/content/docs/02-tutorials/terraform-integration.mdx
  docs/src/content/docs/03-tasks/issue-tokens.mdx
  docs/src/content/docs/03-tasks/manage-users.mdx
  docs/src/content/docs/03-tasks/operator-workflows.mdx
  docs/src/content/docs/03-tasks/upgrade-chart.mdx
  docs/src/content/docs/04-reference/api.mdx
  docs/src/content/docs/04-reference/cli.mdx
  docs/src/content/docs/04-reference/helm-chart.mdx
  docs/src/content/docs/04-reference/kubernetes-operator.mdx
  docs/src/content/docs/04-reference/terraform-provider.mdx
Labels: type:doc

#92 feat: add Dockerfile
  docs/.dockeringore
  docs/Dockerfile
  docs/nginx.conf
  docs/pnpm-lock.yaml
Labels: type:ci

#93 feat: add GitHub Actions workflow for releasing documentation
  .github/workflows/release-doc.yml
Labels: type:ci

#99 feat/migrate client with sea orm
  api/src/lib/application/server.rs
  api/src/lib/infrastructure/repositories/client_repository.rs
Labels: type:refactor, type:feature, scope:api

#100 feat: refactor Credential and repositories to use SeaORM
  api/src/lib/domain/credential/entities/model.rs
  api/src/lib/infrastructure/repositories/client_repository.rs
  api/src/lib/infrastructure/repositories/credential_repository.rs
Labels: type:refactor, scope:api

#101 refactor: PostgresRedirectUriRepository to use SeaORM for database
  api/src/lib/infrastructure/repositories/redirect_uri_repository.rs
Labels: type:refactor, scope:api

#102 feat: implement conversion for RealmSetting from entity model and upd…
  api/src/lib/infrastructure/repositories/realm_repository.rs
Labels: type:refactor

#103 refacto: update user session repo
  api/src/lib/infrastructure/repositories/credential_repository.rs
  api/src/lib/infrastructure/repositories/realm_repository.rs
  api/src/lib/infrastructure/repositories/redirect_uri_repository.rs
  api/src/lib/infrastructure/repositories/refresh_token_repository.rs
  api/src/lib/infrastructure/repositories/user_session_repository.rs
Labels: type:refactor

#104 Fix link README.md
  README.md
Labels: type:doc

#109 Feat/check redirect uri
  api/Cargo.lock
  api/Cargo.toml
  api/src/bin/main.rs
  api/src/lib/application/http/authentication/handlers/auth.rs
  api/src/lib/domain/client/services/redirect_uri_service.rs
  api/src/lib/domain/mediator/ports/mediator_service.rs
  api/src/lib/domain/mediator/services/mediator_service.rs
Labels: type:feature, scope:api

#113 refactor: replace useUser with useAuth for authentication state management and clean up unused code
  front/src/App.tsx
  front/src/api/auth.api.ts
  front/src/components/login-form.tsx
  front/src/hooks/use-auth.ts
  front/src/hooks/use-user.ts
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/store/store.ts
Labels: type:refactor, scope:front

#114 enhance: login page
  front/index.html
  front/package.json
  front/pnpm-lock.yaml
  front/public/logo_ferriskey.png
  front/src/App.tsx
  front/src/components/magicui/magic-card.tsx
  front/src/hooks/use-auth.ts
  front/src/pages/authentication/ui/page-login.tsx
Labels: type:feature, scope:front

#115 feat: fetch user realms
  api/migrations/20250518003558_add_constraint_role_table.down.sql
  api/migrations/20250518003558_add_constraint_role_table.up.sql
  api/src/bin/main.rs
  api/src/lib/application/http/realm/handlers.rs
  api/src/lib/application/http/realm/handlers/get_user_realms.rs
  api/src/lib/application/http/realm/router.rs
  api/src/lib/domain/client/entities/model.rs
  api/src/lib/domain/mediator/services/mediator_service.rs
  api/src/lib/domain/realm/entities/realm.rs
  api/src/lib/domain/role/entities/models.rs
  api/src/lib/domain/role/services.rs
  api/src/lib/domain/user/ports/user_service.rs
  api/src/lib/domain/user/services/user_service.rs
  api/src/lib/infrastructure/repositories/role_repository.rs
  api/src/lib/infrastructure/repositories/user_repository.rs
  front/src/App.tsx
  front/src/api/api.interface.ts
  front/src/api/realm.api.ts
  front/src/components/app-sidebar.tsx
  front/src/components/nav-main.tsx
  front/src/components/nav-projects.tsx
  front/src/components/realm-switcher.tsx
  front/src/pages/overview/feature/page-home-feature.tsx
  front/src/pages/overview/ui/page-home.tsx
  front/src/store/realm.store.ts
  front/src/store/user.store.ts
Labels: type:feature, scope:front, scope:api

#112 fix: Update JWT service to use claims for generating refresh tokens
  api/src/lib/domain/authentication/grant_type_strategies/authorization_code_strategy.rs
  api/src/lib/domain/authentication/grant_type_strategies/client_credentials_strategy.rs
  api/src/lib/domain/authentication/grant_type_strategies/password_strategy.rs
  api/src/lib/domain/authentication/grant_type_strategies/refresh_token_strategy.rs
  api/src/lib/domain/jwt/entities/jwt_claim.rs
  api/src/lib/domain/jwt/ports/jwt_repository.rs
  api/src/lib/domain/jwt/ports/jwt_service.rs
  api/src/lib/domain/jwt/services/jwt_service.rs
  api/src/lib/infrastructure/repositories/jwt_repository.rs
  api/src/lib/infrastructure/repositories/refresh_token_repository.rs
Labels: good first issue, type:bug, scope:api

#121 feat: client UI portail
  api/src/lib/application/http/client/handlers.rs
  api/src/lib/application/http/client/handlers/get_clients.rs
  api/src/lib/application/http/client/router.rs
  api/src/lib/application/http/server/http_server.rs
  api/src/lib/domain/client/entities/model.rs
  api/src/lib/domain/client/ports/client_repository.rs
  api/src/lib/domain/client/ports/client_service.rs
  api/src/lib/domain/client/services/client_service.rs
  api/src/lib/infrastructure/repositories/client_repository.rs
  docs/src/pages/api/index.astro
  front/package.json
  front/pnpm-lock.yaml
  front/src/App.tsx
  front/src/api/api.interface.ts
  front/src/api/client.api.ts
  front/src/api/index.ts
  front/src/components/app-sidebar.tsx
  front/src/components/nav-main.tsx
  front/src/components/ui/badge.tsx
  front/src/components/ui/checkbox.tsx
  front/src/components/ui/data-table.tsx
  front/src/components/ui/table.tsx
  front/src/pages/client/feature/page-clients-overview-feature.tsx
  front/src/pages/client/page-client.tsx
  front/src/routes/router.ts
  front/src/routes/sub-router/client.router.ts
Labels: type:feature, scope:front, scope:api

#126 feat: implement role management features and UI components
  api/src/lib/application/http/role.rs
  api/src/lib/application/http/role/errors.rs
  api/src/lib/application/http/role/handlers/get_roles.rs
  api/src/lib/application/http/role/router.rs
  api/src/lib/domain/role/entities/permission.rs
  api/src/lib/domain/role/ports.rs
  api/src/lib/domain/role/services.rs
  api/src/lib/infrastructure/repositories/role_repository.rs
  front/src/App.tsx
  front/src/api/api.interface.ts
  front/src/api/role.api.ts
  front/src/components/nav-main.tsx
  front/src/pages/role/columns/list-client.column.tsx
  front/src/pages/role/feature/create-role-modal-feature.tsx
  front/src/pages/role/feature/page-roles-overview-feature.tsx
  front/src/pages/role/page-role.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
  front/src/routes/sub-router/role.router.ts
Labels: type:feature, scope:api

#128 Implement creation of an auth store to manage its state
  front/src/contracts/states.interface.ts
  front/src/hooks/use-auth.ts
  front/src/hooks/use-mobile.ts
  front/src/pages/authentication/feature/page-callback-feature.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/store/user.store.ts
Labels: type:refactor, type:feature, scope:front

#129 fix: update UI and api
  api/src/lib/application/http/server/http_server.rs
  docs/Dockerfile
  docs/nginx.conf
  front/package.json
  front/pnpm-lock.yaml
  front/public/themes/neo-brutalism.theme.css
  front/src/App.css
  front/src/App.tsx
  front/src/api/client.api.ts
  front/src/components/app-sidebar.tsx
  front/src/components/realm-switcher.tsx
  front/src/components/ui/heading.tsx
  front/src/components/ui/inputs/input-text.tsx
  front/src/components/ui/switch.tsx
  front/src/components/ui/tabs.tsx
  front/src/main.tsx
  front/src/pages/client/columns/list-client.column.tsx
  front/src/pages/client/container.tsx
  front/src/pages/client/feature/create-client-modal-feature.tsx
  front/src/pages/client/page-client.tsx
  front/src/pages/client/ui/create-client-modal.tsx
  front/src/pages/client/ui/page-clients-overview.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
  front/src/pages/user/container.tsx
  front/src/pages/user/feature/create-client-modal-feature.tsx
  front/src/pages/user/feature/create-user-modal-feature.tsx
  front/src/pages/user/page-user.tsx
  front/src/pages/user/ui/create-user-modal.tsx
  front/src/pages/user/ui/page-users-overview.tsx
  front/src/styles/global.css
  front/src/styles/input.scss
Labels: type:refactor, scope:front, scope:api

#131 fix: update nginx configuration to use port 8080 and improve structure
  docs/Dockerfile
  docs/nginx.conf
Labels: type:doc

#132 feat: implement user creation
  api/src/lib/application/http/user/handlers.rs
  api/src/lib/application/http/user/handlers/bulk_delete_user.rs
  api/src/lib/application/http/user/handlers/create_user.rs
  api/src/lib/application/http/user/handlers/get_users.rs
  api/src/lib/application/http/user/router.rs
  api/src/lib/application/http/user/validators.rs
  api/src/lib/domain/user/ports/user_repository.rs
  api/src/lib/domain/user/ports/user_service.rs
  api/src/lib/domain/user/services/user_service.rs
  api/src/lib/infrastructure/repositories/user_repository.rs
  front/package.json
  front/pnpm-lock.yaml
  front/src/App.tsx
  front/src/api/api.interface.ts
  front/src/api/user.api.ts
  front/src/components/ui/sonner.tsx
  front/src/components/ui/switch.tsx
  front/src/pages/user/container.tsx
  front/src/pages/user/feature/create-user-modal-feature.tsx
  front/src/pages/user/feature/page-users-overview-feature.tsx
  front/src/pages/user/ui/create-user-modal.tsx
  front/src/pages/user/validators.ts
Labels: type:feature, scope:front, scope:api

#133 feat: enhance bulk delete to return count of deleted users
  api/src/lib/application/http/user/handlers/bulk_delete_user.rs
  api/src/lib/domain/user/ports/user_repository.rs
  api/src/lib/domain/user/ports/user_service.rs
  api/src/lib/domain/user/services/user_service.rs
  api/src/lib/infrastructure/repositories/user_repository.rs
  front/src/api/api.interface.ts
  front/src/api/user.api.ts
  front/src/pages/user/feature/page-users-overview-feature.tsx
Labels: type:feature, scope:front, scope:api

#134 feat: enhance docs
  docs/astro.config.mjs
  docs/explainer.config.ts
  docs/public/logo_ferriskey.png
  docs/src/content.config.ts
  docs/src/content/docs/framework/blog.mdx
  docs/src/content/docs/framework/configuration.mdx
  docs/src/content/docs/framework/docs.mdx
  docs/src/content/docs/framework/getting-started.mdx
  docs/src/content/docs/framework/installation.mdx
  docs/src/content/docs/framework/project-structure.mdx
  docs/src/content/docs/syntax/alert.mdx
  docs/src/content/docs/syntax/code-block.mdx
  docs/src/content/docs/syntax/markdown.mdx
  docs/src/content/docs/syntax/text.mdx
  docs/src/content/docs/welcome/installation.mdx
  docs/src/content/docs/welcome/introduction.mdx
  docs/src/lib/components/elements/navbar.tsx
  docs/src/lib/layouts/BaseLayout.astro
  docs/src/pages/index.astro
  infrastructure/charts/docs/.helmignore
  infrastructure/charts/docs/Chart.yaml
  infrastructure/charts/docs/templates/NOTES.txt
  infrastructure/charts/docs/templates/_helpers.tpl
  infrastructure/charts/docs/templates/deployment.yaml
  infrastructure/charts/docs/templates/ingress.yaml
  infrastructure/charts/docs/templates/service.yaml
  infrastructure/charts/docs/templates/tests/test-connection.yaml
  infrastructure/charts/docs/values.yaml
  infrastructure/cluster-issuer.yaml
Labels: type:doc

#135 fix: update documentation introduction and translate to English
  docs/src/content/docs/welcome/introduction.mdx
  infrastructure/charts/docs/values.yaml
Labels: type:doc

#138 feat: assign role
  api/src/bin/main.rs
  api/src/lib/application/http/authentication/handlers/authentificate.rs
  api/src/lib/application/http/server/api_entities/api_error.rs
  api/src/lib/application/http/server/app_state.rs
  api/src/lib/application/http/server/http_server.rs
  api/src/lib/application/http/user/handlers.rs
  api/src/lib/application/http/user/handlers/assign_role.rs
  api/src/lib/application/http/user/router.rs
  api/src/lib/domain/authentication/service/authentication.rs
  api/src/lib/domain/mediator/services/mediator_service.rs
  api/src/lib/domain/role/ports.rs
  api/src/lib/domain/role/services.rs
  api/src/lib/domain/user/ports/user_repository.rs
  api/src/lib/domain/user/ports/user_role_service.rs
  api/src/lib/domain/user/services/user_role_service.rs
  api/src/lib/infrastructure/repositories/role_repository.rs
  api/src/lib/infrastructure/repositories/user_repository.rs
Labels: type:feature

#146 feat: role settings page
  api/src/lib/application/http/policies.rs
  api/src/lib/application/http/role/handlers/create_role.rs
  api/src/lib/application/http/role/handlers/get_role.rs
  api/src/lib/application/http/role/handlers/get_roles.rs
  api/src/lib/application/http/role/policies.rs
  api/src/lib/application/http/role/router.rs
  api/src/lib/application/http/server/openapi.rs
  api/src/lib/application/http/user/handlers/bulk_delete_user.rs
  api/src/lib/application/http/user/handlers/create_user.rs
  api/src/lib/application/http/user/handlers/get_users.rs
  api/src/lib/domain/jwt/ports/jwt_service.rs
  api/src/lib/domain/role/entities/permission.rs
  api/src/lib/domain/role/services.rs
  front/src/api/api.interface.ts
  front/src/api/role.api.ts
  front/src/components/nav-main.tsx
  front/src/pages/client/container.tsx
  front/src/pages/client/ui/page-client-settings.tsx
  front/src/pages/role/feature/page-role-permissions-feature.tsx
  front/src/pages/role/feature/page-role-settings-feature.tsx
  front/src/pages/role/feature/page-role-users-feature.tsx
  front/src/pages/role/feature/page-roles-overview-feature.tsx
  front/src/pages/role/layout/role-layout.tsx
  front/src/pages/role/page-role.tsx
  front/src/pages/role/ui/page-role-settings.tsx
  front/src/pages/role/ui/page-roles-overview.tsx
  front/src/routes/router.ts
  front/src/routes/sub-router/role.router.ts
Labels: type:feature

#149 feat: enhance app state
  LICENSE
  api/Cargo.lock
  api/Cargo.toml
  api/src/bin/main.rs
  api/src/lib/application/http.rs
  api/src/lib/application/http/realm/handlers/create_realm.rs
  api/src/lib/application/http/server/app_state.rs
  api/src/lib/application/http/server/http_server.rs
  api/src/lib/application/http/test.rs
  api/src/lib/application/server.rs
  api/src/lib/domain/mediator/services/mediator_service.rs
  front/src/App.css
  front/src/App.tsx
  front/src/api/realm.api.ts
  front/src/components/app-sidebar.tsx
  front/src/components/realm-switcher.tsx
  front/src/components/ui/input-text.tsx
  front/src/hooks/use-user.ts
  front/src/main.tsx
  front/src/pages/authentication/feature/page-login-feature.tsx
  front/src/pages/authentication/ui/page-login.tsx
  front/src/pages/overview/ui/page-home.tsx
  front/src/styles/inputs.scss
Labels: type:feature, scope:front, scope:api

#150 feat: implement create realm with user functionality and update related services
  api/src/lib/application/http/realm/handlers/create_realm.rs
  api/src/lib/application/http/test.rs
  api/src/lib/application/server.rs
  api/src/lib/domain/realm/ports/realm_service.rs
  api/src/lib/domain/realm/services/realm_service.rs
  api/src/lib/domain/role/ports.rs
Labels: type:feature, scope:api

#152 feat: refactor get_user_realms to improve realm handling and update realm-switcher navigation
  api/src/lib/application/http/realm/handlers/get_user_realms.rs
  front/src/components/realm-switcher.tsx
Labels: type:bug, scope:front, scope:api

#153 feat: enhance documentation for architecture, overview, realms, and installation sections
  docs/src/content/docs/01-concepts/architecture.mdx
  docs/src/content/docs/01-concepts/overview.mdx
  docs/src/content/docs/01-concepts/realms.mdx
  docs/src/content/docs/welcome/installation.mdx
Labels: type:doc
