Repository ferriskey/ferriskey, pull requests merged in 2025-04, with the labels that each got.

#26 feat/creation of an http endpoint on the api to retrieve an authentication token
  api/Cargo.lock
  api/Cargo.toml
  api/src/bin/main.rs
  api/src/lib/application/http.rs
  api/src/lib/application/http/authentication.rs
  api/src/lib/application/http/authentication/handlers.rs
  api/src/lib/application/http/authentication/handlers/token.rs
  api/src/lib/application/http/authentication/router.rs
  api/src/lib/application/http/authentication/validators.rs
  api/src/lib/application/http/server/app_state.rs
  api/src/lib/application/http/server/errors.rs
  api/src/lib/application/http/server/http_server.rs
  api/src/lib/domain.rs
  api/src/lib/domain/authentication/entities/error.rs
  api/src/lib/domain/authentication/entities/mod.rs
  api/src/lib/domain/authentication/entities/model.rs
  api/src/lib/domain/authentication/mod.rs
  api/src/lib/domain/authentication/ports.rs
  api/src/lib/domain/authentication/service.rs
  api/src/lib/infrastructure/repositories.rs
  api/src/lib/infrastructure/repositories/authentication_repository.rs
Labels: type:feature, scope:api

#27 refactor: update authentication service and token handling
  api/src/bin/main.rs
  api/src/lib/application/http/authentication/handlers/token.rs
  api/src/lib/application/http/server/http_server.rs
  api/src/lib/domain/authentication/ports.rs
  api/src/lib/domain/authentication/service.rs
  api/src/lib/infrastructure/repositories/authentication_repository.rs
Labels: type:refactor

#29 feat: implement credentials login
  api/src/bin/main.rs
  api/src/lib/application/http/authentication/handlers/token.rs
  api/src/lib/application/http/authentication/validators.rs
  api/src/lib/application/http/server/http_server.rs
  api/src/lib/domain/authentication/entities/model.rs
  api/src/lib/domain/authentication/ports.rs
  api/src/lib/domain/authentication/service.rs
  api/src/lib/domain/client/service.rs
  api/src/lib/domain/mediator/service.rs
  api/src/lib/domain/realm/service.rs
  api/src/lib/domain/session/service.rs
  api/src/lib/domain/user/ports.rs
  api/src/lib/infrastructure/repositories/authentication_repository.rs
  api/src/lib/infrastructure/repositories/user_repository.rs
Labels: type:feature, scope:api

#32 refactor: restructure application server and update main entry point
  api/src/bin/main.rs
  api/src/lib/application.rs
  api/src/lib/application/server.rs
  api/src/lib/domain/credential/service.rs
  api/src/lib/domain/mediator/service.rs
Labels: type:refactor

#33 feat: introduce jwtservice with pluggable key support
  api/Cargo.lock
  api/Cargo.toml
  api/src/bin/main.rs
  api/src/lib/application/server.rs
  api/src/lib/domain.rs
  api/src/lib/domain/authentication/ports.rs
  api/src/lib/domain/authentication/service.rs
  api/src/lib/domain/jwt/entities.rs
  api/src/lib/domain/jwt/mod.rs
  api/src/lib/domain/jwt/ports.rs
  api/src/lib/domain/jwt/service.rs
  api/src/lib/env.rs
  api/src/lib/infrastructure/repositories.rs
  api/src/lib/infrastructure/repositories/jwt_repository.rs
Labels: type:feature, scope:api

#36 feat: add auth session
  api/migrations/20250403232413_add_auth_sessions.down.sql
  api/migrations/20250403232413_add_auth_sessions.up.sql
  api/src/bin/main.rs
  api/src/lib/application/http.rs
  api/src/lib/application/http/auth/handlers/mod.rs
  api/src/lib/application/http/auth/mod.rs
  api/src/lib/application/http/auth/router.rs
  api/src/lib/application/http/authentication/handlers.rs
  api/src/lib/application/http/authentication/handlers/auth.rs
  api/src/lib/application/http/authentication/router.rs
  api/src/lib/application/http/server/app_state.rs
  api/src/lib/application/http/server/http_server.rs
  api/src/lib/application/server.rs
  api/src/lib/domain/authentication/entities/auth_session.rs
  api/src/lib/domain/authentication/entities/mod.rs
  api/src/lib/domain/authentication/ports.rs
  api/src/lib/domain/authentication/ports/auth_session.rs
  api/src/lib/domain/authentication/service.rs
  api/src/lib/domain/authentication/service/auth_session.rs
  api/src/lib/domain/jwt/entities.rs
  api/src/lib/domain/jwt/mod.rs
  api/src/lib/domain/jwt/ports.rs
  api/src/lib/domain/jwt/service.rs
  api/src/lib/infrastructure/repositories.rs
  api/src/lib/infrastructure/repositories/auth_session_repository.rs
  api/src/lib/infrastructure/repositories/jwt_repository.rs
Labels: type:feature, scope:api

#38 refactor: reorganize authentication ports and update imports
  api/src/lib/application/http/authentication/handlers/token.rs
  api/src/lib/application/http/authentication/router.rs
  api/src/lib/application/http/server/app_state.rs
  api/src/lib/application/http/server/http_server.rs
  api/src/lib/domain/authentication/ports.rs
  api/src/lib/domain/authentication/ports/authentication.rs
  api/src/lib/domain/authentication/service.rs
Labels: type:refactor, scope:api

#44 fix: enhance authentication routes and OpenAPI documentation
  api/src/lib/application/http/authentication/handlers/authentificate.rs
  api/src/lib/application/http/authentication/router.rs
  api/src/lib/application/http/server/openapi.rs
  api/src/lib/domain/authentication/ports.rs
Labels: type:bug

#47 feat: change client_id from uuid to string
  api/src/lib/application/http/authentication/handlers/authentificate.rs
  api/src/lib/domain/authentication/ports/authentication.rs
  api/src/lib/domain/authentication/service/authentication.rs
Labels: type:feature, scope:api

#48 refactor: move all service in static implementation
  api/src/bin/main.rs
  api/src/lib/application/http/authentication/handlers/auth.rs
  api/src/lib/application/http/authentication/handlers/authentificate.rs
  api/src/lib/application/http/authentication/router.rs
  api/src/lib/application/http/server/app_state.rs
  api/src/lib/application/http/server/http_server.rs
  api/src/lib/application/server.rs
  api/src/lib/domain/authentication/ports/auth_session.rs
  api/src/lib/domain/authentication/service/auth_session.rs
  api/src/lib/domain/authentication/service/authentication.rs
  api/src/lib/domain/client/services/client_service.rs
  api/src/lib/domain/credential/services/credential_service.rs
  api/src/lib/domain/crypto/services/crypto_service.rs
  api/src/lib/domain/jwt/ports/jwt_repository.rs
  api/src/lib/domain/jwt/ports/jwt_service.rs
  api/src/lib/domain/jwt/services/jwt_service.rs
  api/src/lib/domain/mediator/services/mediator_service.rs
  api/src/lib/domain/realm/services/realm_service.rs
  api/src/lib/domain/user/services/user_service.rs
  api/src/lib/infrastructure/repositories/auth_session_repository.rs
  api/src/lib/infrastructure/repositories/jwt_repository.rs
Labels: type:refactor, scope:api

#50 refactor: simplify authentication and client routes by using AppState
  api/src/lib/application/http/authentication/handlers/auth.rs
  api/src/lib/application/http/authentication/handlers/authentificate.rs
  api/src/lib/application/http/authentication/handlers/token.rs
  api/src/lib/application/http/authentication/router.rs
  api/src/lib/application/http/client/handlers/create_client.rs
  api/src/lib/application/http/client/router.rs
  api/src/lib/application/http/realm/handlers/create_realm.rs
  api/src/lib/application/http/realm/handlers/delete_realm.rs
  api/src/lib/application/http/realm/handlers/fetch_realm.rs
  api/src/lib/application/http/realm/handlers/get_realm.rs
  api/src/lib/application/http/realm/handlers/update_realm.rs
  api/src/lib/application/http/realm/handlers/update_realm_setting.rs
  api/src/lib/application/http/realm/router.rs
  api/src/lib/application/http/server/app_state.rs
  api/src/lib/application/http/server/http_server.rs
  api/src/lib/application/http/user/handlers/reset_password.rs
  api/src/lib/application/http/user/router.rs
Labels: type:refactor, scope:api

#52 docs: update README to enhance project description and architecture overview
  README.md
  docs/api_architecture.png
Labels: type:doc

#54 feat: add support for client service accounts
  api/migrations/20250323235038_add_users.up.sql
  api/src/bin/main.rs
  api/src/lib/application/http/server/api_entities/api_error.rs
  api/src/lib/domain/authentication/entities/error.rs
  api/src/lib/domain/authentication/service/authentication.rs
  api/src/lib/domain/client/ports/client_repository.rs
  api/src/lib/domain/client/ports/client_service.rs
  api/src/lib/domain/client/services/client_service.rs
  api/src/lib/domain/jwt/entities/jwt_claim.rs
  api/src/lib/domain/mediator/services/mediator_service.rs
  api/src/lib/domain/user/dtos/user_dto.rs
  api/src/lib/domain/user/entities/model.rs
  api/src/lib/domain/user/ports/user_repository.rs
  api/src/lib/domain/user/ports/user_service.rs
  api/src/lib/domain/user/services/user_service.rs
  api/src/lib/infrastructure/repositories/user_repository.rs
Labels: type:feature, scope:api

#55 feat: implement refresh_token grant type
  api/src/lib/application/http/authentication/handlers/token.rs
  api/src/lib/application/http/authentication/validators.rs
  api/src/lib/application/http/server/api_entities/api_error.rs
  api/src/lib/domain/authentication/entities/error.rs
  api/src/lib/domain/authentication/entities/grant_type.rs
  api/src/lib/domain/authentication/ports/authentication.rs
  api/src/lib/domain/authentication/service/authentication.rs
  api/src/lib/domain/jwt/entities/jwt_error.rs
  api/src/lib/domain/jwt/ports/jwt_repository.rs
  api/src/lib/domain/jwt/ports/jwt_service.rs
  api/src/lib/domain/jwt/services/jwt_service.rs
  api/src/lib/infrastructure/repositories/jwt_repository.rs
Labels: type:feature, scope:api

#58 refactor: authenticationservice to use generics based strategy pattern for granttype dispatch
  api/src/lib/domain/authentication.rs
  api/src/lib/domain/authentication/grant_type_strategies.rs
  api/src/lib/domain/authentication/grant_type_strategies/authorization_code_strategy.rs
  api/src/lib/domain/authentication/grant_type_strategies/client_credentials_strategy.rs
  api/src/lib/domain/authentication/grant_type_strategies/password_strategy.rs
  api/src/lib/domain/authentication/grant_type_strategies/refresh_token_strategy.rs
  api/src/lib/domain/authentication/ports/authentication.rs
  api/src/lib/domain/authentication/service/authentication.rs
Labels: type:refactor, type:feature, scope:api

#64 fix: update service account username format to use client name instead id
  api/src/lib/domain/client/services/client_service.rs
Labels: type:bug, scope:api

#65 refactor: change authentificate method name and implement dto
  api/src/lib/application/http/authentication/handlers/token.rs
  api/src/lib/domain/authentication/entities.rs
  api/src/lib/domain/authentication/entities/dto.rs
  api/src/lib/domain/authentication/ports/authentication.rs
  api/src/lib/domain/authentication/service/authentication.rs
  api/src/lib/domain/client/entities.rs
  api/src/lib/domain/client/entities/dto.rs
  api/src/lib/domain/client/ports/client_repository.rs
  api/src/lib/domain/client/services/client_service.rs
  api/src/lib/infrastructure/repositories/client_repository.rs
Labels: type:refactor, scope:api

#66 refactor: update JwtClaim structure and adjust JWT token expiration handling
  api/src/lib/domain/jwt/entities/jwt_claim.rs
  api/src/lib/infrastructure/repositories/jwt_repository.rs
Labels: type:refactor, scope:api

#67 feat: implement refresh token generation in authentication strategies
  api/src/lib/domain/authentication/entities/refresh_claims.rs
  api/src/lib/domain/authentication/grant_type_strategies/authorization_code_strategy.rs
  api/src/lib/domain/authentication/grant_type_strategies/client_credentials_strategy.rs
  api/src/lib/domain/authentication/grant_type_strategies/password_strategy.rs
  api/src/lib/domain/jwt/entities/jwt_claim.rs
  api/src/lib/domain/jwt/ports/jwt_service.rs
  api/src/lib/domain/jwt/services/jwt_service.rs
Labels: type:feature, scope:api

#68 feat: enhance refresh token strategy to include new refresh and access tokens
  api/src/lib/domain/authentication/grant_type_strategies/refresh_token_strategy.rs
Labels: type:feature, scope:api

#71 refactor: update refresh token strategy to use ClaimsTyp enum
  api/src/lib/domain/authentication/grant_type_strategies/refresh_token_strategy.rs
Labels: type:feature, scope:api

#72 feat: add client_secret error handling to authentication process
  api/src/lib/application/http/server/api_entities/api_error.rs
  api/src/lib/domain/authentication/entities/error.rs
  api/src/lib/domain/authentication/grant_type_strategies/client_credentials_strategy.rs
Labels: type:feature, scope:api

#74 feat: auto-generate client_secret
  api/src/lib/application/http/client/validators.rs
  api/src/lib/domain/client/entities/dto.rs
  api/src/lib/domain/client/services/client_service.rs
  api/src/lib/domain/mediator/services/mediator_service.rs
  api/src/lib/infrastructure/repositories/client_repository.rs
Labels: type:feature, scope:api

#79 fix: add `azp` validation to refresh token strategy
  api/src/lib/domain/authentication/grant_type_strategies/refresh_token_strategy.rs
Labels: type:feature, scope:api
