Repository ferriskey/ferriskey, pull requests merged in 2025-06, with the labels that each got.

#163 feat: implement JWT key management with keystore repository and relation entities
  api/Cargo.lock
  api/Cargo.toml
  api/entity/src/jwt_keys.rs
  api/entity/src/mod.rs
  api/entity/src/prelude.rs
  api/entity/src/realms.rs
  api/migrations/20250601180719_create_jwt_keys.down.sql
  api/migrations/20250601180719_create_jwt_keys.up.sql
  api/src/lib/application/server.rs
  api/src/lib/domain/jwt/entities/jwt.rs
  api/src/lib/domain/jwt/entities/jwt_error.rs
  api/src/lib/domain/jwt/ports.rs
  api/src/lib/domain/jwt/ports/jwt_service.rs
  api/src/lib/domain/jwt/ports/keystore_repository.rs
  api/src/lib/domain/jwt/services/jwt_service.rs
  api/src/lib/domain/mediator/services/mediator_service.rs
  api/src/lib/infrastructure/repositories.rs
  api/src/lib/infrastructure/repositories/keystore_repository.rs
Labels: type:feature, scope:api

#164 feat: move jwt logic from `JwtRepository` to `JwtService` using `KeystoreRepository`
  api/src/lib/application/auth.rs
  api/src/lib/application/server.rs
  api/src/lib/domain/authentication/grant_type_strategies/authorization_code_strategy.rs
  api/src/lib/domain/authentication/grant_type_strategies/client_credentials_strategy.rs
  api/src/lib/domain/authentication/grant_type_strategies/password_strategy.rs
  api/src/lib/domain/authentication/grant_type_strategies/refresh_token_strategy.rs
  api/src/lib/domain/jwt/ports/jwt_repository.rs
  api/src/lib/domain/jwt/ports/jwt_service.rs
  api/src/lib/domain/jwt/services/jwt_service.rs
  api/src/lib/env.rs
  api/src/lib/infrastructure/repositories.rs
  api/src/lib/infrastructure/repositories/jwt_repository.rs
Labels: type:feature, scope:api, priority-1

#165 docs: remove public and private key environment variables from installation guide
  docs/src/content/docs/welcome/installation.mdx
Labels: type:doc

#177 feat: create a credential password for a user
  api/src/lib/application/http/user/errors.rs
  api/src/lib/application/http/user/handlers.rs
  api/src/lib/application/http/user/handlers/delete_credential.rs
  api/src/lib/application/http/user/handlers/get_credentials.rs
  api/src/lib/application/http/user/handlers/reset_password.rs
  api/src/lib/application/http/user/router.rs
  api/src/lib/domain/credential/entities/error.rs
  api/src/lib/domain/credential/entities/model.rs
  api/src/lib/domain/credential/ports/credential_repository.rs
  api/src/lib/domain/credential/ports/credential_service.rs
  api/src/lib/domain/credential/services/credential_service.rs
  api/src/lib/infrastructure/repositories/credential_repository.rs
  front/public/event-placeholder-light.svg
  front/src/App.tsx
  front/src/api/api.interface.ts
  front/src/api/user.api.ts
  front/src/components/nav-main.tsx
  front/src/pages/role/ui/page-create-role.tsx
  front/src/pages/user/columns/list-user-credential.column.tsx
  front/src/pages/user/feature/modals/set-password-feature.tsx
  front/src/pages/user/feature/page-credential-feature.tsx
  front/src/pages/user/feature/page-users-overview-feature.tsx
  front/src/pages/user/layouts/user-layout.tsx
  front/src/pages/user/schemas/index.ts
  front/src/pages/user/ui/modals/set-password.tsx
  front/src/pages/user/ui/page-credentials.tsx
  front/src/pages/user/ui/page-users-overview.tsx
  front/src/routes/router.ts
  front/src/routes/sub-router/user.router.ts
Labels: type:feature, priority-1

#182 feat: add SonarQube scan job to release workflow
  .github/workflows/release-dev.yml
Labels: type:ci

#183 fix: update job sonarqube
  .github/workflows/release-dev.yml
Labels: type:ci

#185 feat: add guide for testing CI with ACT
  .github/guide.md
Labels: type:doc

#188 feat: enhance user overview page
  front/src/api/user.api.ts
  front/src/components/ui/block-content.tsx
  front/src/hooks/use-form-changes.ts
  front/src/pages/user/feature/edit-user-overview-feature.tsx
  front/src/pages/user/feature/page-user-overview-feature.tsx
  front/src/pages/user/layouts/user-layout.tsx
  front/src/pages/user/page-user.tsx
  front/src/pages/user/ui/edit-user-overview.tsx
  front/src/pages/user/ui/page-user-overview.tsx
  front/src/pages/user/ui/page-users-overview.tsx
Labels: type:feature, scope:front

#195 feat: implement user credential deletion functionality in the UI
  api/src/lib/application/http/user/handlers/delete_credential.rs
  api/src/lib/infrastructure/repositories/user_repository.rs
  front/src/api/api.interface.ts
  front/src/api/credential.api.ts
  front/src/pages/user/columns/list-user-credential.column.tsx
  front/src/pages/user/feature/page-credential-feature.tsx
  front/src/pages/user/ui/page-credentials.tsx
Labels: type:feature, scope:front

#196 feat: add reset password functionality with modal support
  api/src/lib/domain/credential/services/credential_service.rs
  api/src/lib/infrastructure/repositories/credential_repository.rs
  front/src/pages/user/columns/list-user-credential.column.tsx
  front/src/pages/user/feature/modals/set-password-feature.tsx
  front/src/pages/user/ui/modals/set-password.tsx
Labels: type:feature

#197 feat: enhance data table with selection handling and UI localization
  front/src/components/ui/data-table.tsx
  front/src/pages/user/ui/page-credentials.tsx
Labels: type:bug

#198 fix: when i create a client with no client authentication the api create a service account
  api/migrations/20250610004508_add_credential_user_cascade_delete.down.sql
  api/migrations/20250610004508_add_credential_user_cascade_delete.up.sql
  api/src/lib/domain/client/services/client_service.rs
  api/src/lib/domain/credential/services/credential_service.rs
  front/src/api/client.api.ts
  front/src/components/ui/data-table.tsx
Labels: type:bug

#199 feat: add client service integration to password strategy for client credential verification
  api/src/lib/domain/authentication/grant_type_strategies/password_strategy.rs
  api/src/lib/domain/authentication/service/authentication.rs
Labels: type:bug, scope:api, priority-1

#200 feat: get certs handler
  api/src/lib/application/http/authentication/handlers.rs
  api/src/lib/application/http/authentication/handlers/auth.rs
  api/src/lib/application/http/authentication/handlers/get_certs.rs
  api/src/lib/application/http/authentication/router.rs
  api/src/lib/application/http/client.rs
  api/src/lib/application/http/client/handlers.rs
  api/src/lib/application/http/client/handlers/delete_client.rs
  api/src/lib/application/http/client/policies.rs
  api/src/lib/application/http/client/router.rs
  api/src/lib/domain/authentication/grant_type_strategies/password_strategy.rs
  api/src/lib/domain/authentication/service/authentication.rs
  api/src/lib/domain/client/ports/client_repository.rs
  api/src/lib/domain/client/ports/client_service.rs
  api/src/lib/domain/client/services/client_service.rs
  api/src/lib/domain/credential/services/credential_service.rs
  api/src/lib/domain/jwt/entities/jwt.rs
  api/src/lib/infrastructure/repositories/client_repository.rs
  api/src/lib/infrastructure/repositories/credential_repository.rs
  front/src/api/api.interface.ts
Labels: type:feature, scope:api

#203 feat: enhance role overview
  api/src/lib/application/http/role/handlers/get_role.rs
  api/src/lib/infrastructure/repositories/role_repository.rs
  front/src/pages/role/feature/page-role-settings-feature.tsx
  front/src/pages/role/schemas/update-role.schema.ts
  front/src/pages/role/ui/page-role-settings.tsx
Labels: type:feature, scope:front, scope:api, priority-1

#211 feat: update Docker build and push workflow to include image name and organization inputs
  .github/workflows/build-and-push-docker.yaml
Labels: type:ci

#213 fix: correct context name from 'opeartor' to 'operator' in release candidate workflow
  .github/workflows/release-candidate.yaml
Labels: type:bug, scope:infra

#215 docs: clean typos & misc
  docs/src/content/docs/01-concepts/realms.mdx
  docs/src/content/docs/welcome/installation.mdx
  docs/src/content/docs/welcome/introduction.mdx
Labels: type:doc

#223 feat: add OpenID configuration endpoint and update API documentation
  api/src/lib/application/http/authentication/handlers.rs
  api/src/lib/application/http/authentication/handlers/openid_configuration.rs
  api/src/lib/application/http/authentication/router.rs
  docker-compose.local.yaml
  front/src/api/api.interface.ts
Labels: type:feature

#226 feat: update docs and fix bugs
  .github/workflows/release-candidate.yaml
  .github/workflows/release-dev.yml
  api/migrations/20250620032427_add_unique_constraint_user_role_user_id_role_id.down.sql
  api/migrations/20250620032427_add_unique_constraint_user_role_user_id_role_id.up.sql
  api/src/lib/application/http/client/handlers.rs
  api/src/lib/application/http/client/handlers/get_client_roles.rs
  api/src/lib/application/http/client/router.rs
  api/src/lib/application/http/server/http_server.rs
  api/src/lib/application/http/user/handlers/get_user_roles.rs
  api/src/lib/application/http/user/router.rs
  api/src/lib/domain/mediator/services/mediator_service.rs
  api/src/lib/domain/role/services.rs
  api/src/lib/infrastructure/repositories/auth_session_repository.rs
  docs/explainer.config.ts
  docs/public/github-mark.svg
  docs/public/linkedin.svg
  docs/public/sponsors/cloudiam.png
  docs/src/lib/components/elements/contributors.tsx
  docs/src/lib/components/elements/core-team.tsx
  docs/src/lib/components/elements/trusted-by-logos.tsx
  docs/src/lib/layouts/AboutLayout.astro
  docs/src/pages/about/index.astro
  front/src/api/api.interface.ts
Labels: type:bug

#230 feat: implement user role policies for access control
  api/src/lib/application/http/user.rs
  api/src/lib/application/http/user/handlers/get_user_roles.rs
  api/src/lib/application/http/user/policies.rs
  api/src/lib/application/http/user/policies/user_role_policies.rs
Labels: type:feature, scope:api

#242 fix: correct include_latest_tag value format in release candidate workflow
  .github/workflows/release-candidate.yaml
Labels: type:bug

#243 feat: add PORTAL_URL environment variable and update values.yaml with portalUrl
  infrastructure/charts/ferriskey/templates/api/deployment.yaml
  infrastructure/charts/ferriskey/values.yaml
Labels: type:bug

#239 feat: enhance configuration and UI transitions
  docs/astro.config.mjs
  docs/src/assets/css/global.css
  docs/src/lib/hooks/use-theme.ts
  docs/src/lib/layouts/BaseLayout.astro
  docs/src/pages/index.astro
Labels: type:doc, scope:front

#248 feat: implement update client functionality
  api/src/lib/application/http/client/handlers.rs
  api/src/lib/application/http/client/handlers/update_client.rs
  api/src/lib/application/http/client/router.rs
  api/src/lib/application/http/client/validators.rs
  api/src/lib/application/http/user/handlers/bulk_delete_user.rs
  api/src/lib/application/http/user/handlers/delete_user.rs
  api/src/lib/domain/client/entities/dto.rs
  api/src/lib/domain/client/ports/client_repository.rs
  api/src/lib/domain/client/ports/client_service.rs
  api/src/lib/domain/client/services/client_service.rs
  api/src/lib/domain/mediator/services/mediator_service.rs
  api/src/lib/infrastructure/repositories/client_repository.rs
  api/src/lib/infrastructure/repositories/realm_repository.rs
  front/src/api/api.interface.ts
Labels: type:feature, scope:api, priority-1

#250 feat: UI manage redirect uris for clients add toggle delete
  api/src/lib/domain/client/entities/model.rs
  api/src/lib/domain/client/entities/redirect_uri.rs
  api/src/lib/infrastructure/repositories/client_repository.rs
  front/src/api/api.interface.ts
  front/src/api/redirect_uris.api.ts
  front/src/pages/client/components/manage-redirect-uris.tsx
  front/src/pages/client/feature/page-client-settings-feature.tsx
  front/src/pages/client/ui/page-client-settings.tsx
Labels: type:feature, priority-1

#254 feat: update documentation
  docs/src/content/docs/01-concepts/access-control.mdx
  docs/src/content/docs/01-concepts/scaling-performance.mdx
  docs/src/content/docs/01-concepts/security.mdx
  docs/src/content/docs/02-tutorials/deploy-on-k8s.mdx
  docs/src/content/docs/welcome/installation.mdx
Labels: type:doc

#255 refactor: standardize formatting and improve readability in contributors, core team, and trusted by logos components
  docs/src/lib/components/elements/contributors.tsx
  docs/src/lib/components/elements/core-team.tsx
  docs/src/lib/components/elements/trusted-by-logos.tsx
Labels: type:doc

#260 feat: implement update client UI
  api/src/bin/main.rs
  api/src/lib/application/http/authentication/handlers/openid_configuration.rs
  api/src/lib/application/http/client/handlers/delete_client.rs
  api/src/lib/application/http/client/router.rs
  api/src/lib/application/http/server/api_entities/api_error.rs
  api/src/lib/application/http/test.rs
  api/src/lib/application/http/user/errors.rs
  api/src/lib/application/http/user/handlers/assign_role.rs
  api/src/lib/application/http/user/handlers/delete_credential.rs
  api/src/lib/application/http/user/handlers/unassign_role.rs
  api/src/lib/domain/mediator/services/mediator_service.rs
  api/src/lib/domain/realm/services/realm_service.rs
  front/src/api/client.api.ts
  front/src/pages/client/feature/page-client-settings-feature.tsx
  front/src/pages/client/schemas/update-client.schema.ts
  front/src/pages/client/ui/page-client-settings.tsx
Labels: type:feature, scope:front, priority-1
